h1, h2 {
    text-align: center;
    font-family: 'Poppins, sans-serif';
}

.btn {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    margin: 8px 6px;
    padding: 10px 15px;
}

form{
    font-family: 'Poppins, sans-serif';
}

option{
    margin: 545px;
}

tbody{
    text-align: center;
}
